<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>moviedb</title>
    <link rel="icon" type="image/png" href="frontend/favicon.png">
    <!-- <link rel="stylesheet" href="frontend/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="frontend/css/style.css">
    <!-- Include the AngularJS library -->
    <script src="frontend/js/angular.min.js"></script>
    <script src="frontend/js/angular-route.min.js"></script>
    <script src="frontend/js/modal.min.js"></script>
</head>
<body ng-app="moviedbApp">
    <div class="main" ng-controller="MainController">
        <div class="container">
            <div class="row topPadding"></div>
            <div class="row">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" ng-class="{active : currentTab === 0}"><a href="/#/">Home</a></li>
                    <li role="presentation" ng-class="{active : currentTab === 1}"><a ng-click="view()">View</a></li>
                    <li role="presentation" ng-class="{active : currentTab === 2}"><a ng-click="addMedia()">Add</a></li>
                    <li role="presentation" ng-class="{active : currentTab === 3}"><a ng-click="rawQueries()">Raw</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modules -->
    <script src="frontend/js/app.js"></script>

    <!-- Controllers -->
    <script src="frontend/js/controllers/MainController.js"></script>
    <script src="frontend/js/controllers/ViewController.js"></script>
    <script src="frontend/js/controllers/RawQueriesController.js"></script>
    <script src="frontend/js/controllers/AddMediaController.js"></script>
    <script src="frontend/js/controllers/ColModalController.js"></script>
    <script src="frontend/js/controllers/AddModalController.js"></script>

    <!-- Services -->
    <script src="frontend/js/services/omdbQuery.js"></script>
    <script src="frontend/js/services/apiQueries.js"></script>
    <script src="frontend/js/services/addModal.js"></script>
    <script src="frontend/js/services/colModal.js"></script>
    <script src="frontend/js/services/parseMedia.js"></script>
    <script src="frontend/js/services/dbInstance.js"></script>
    <script src="frontend/js/services/activeTab.js"></script>


    <!-- Directives -->
    <script src="frontend/js/directives/backImg.js"></script>
</body>
</html>
