/*@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}*/

.topPadding {
    padding-top: 25px;
}

.simple-form * {
    width: 100%;
}

.starRating {
    color: rgba(24, 46, 188, 0.7);
}

.starWrapper {
    display: flex;
    flex-direction: row;
}

.appButton {
    border-radius: 6px;
    width: 100%;
}

.appButton:hover, .appButton:visited {
    background-color: rgba(24, 46, 188, 0.7);
}

.appButton span {
    color: white;
    outline: none;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}

.colList {
    width: 300px;
    height: 500px;
    overflow: auto;
    cursor: pointer;
}

.colList div:hover {
    background-color: pink;
}

.colTitle {
    font-size: 20px;
    color: white;
}

.colDesc {
    font-size: 10px;
    color: white;
}

.tabActive {
    background-color: rgba(24, 46, 188, 1);
}

.searchBox {
    width: 100%;
}

.simple-form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.modalForm * {
    margin-top: 10px;
    width: 100%;
}

.modalForm span {
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}

.modalHeader {
    display: flex;
    flex-direction: row;
}

.modalHeader span {
    font-size: 50px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: right;
    width: 20%;
}

.modalHeader p {
    color: white;
    font-size: 50px;
    padding-left: 10px;
    cursor: default;
    width: 80%;
}

.mediaBox {
    display: flex;
    flex-direction: row;
}

.mediaBox * {
    list-style-type: none;
    font-size: 40px;
    width: 100%;
}

.activeMedia {
    list-style-type: none;
    font-size: 30px;
}

.activeMediaExtra {
    list-style-type: none;
    font-size: 15px;
}

.statusActive {
    background-color: rgba(24, 46, 188, 0.5);
}

.viewMedia {
    cursor: pointer;
}

.appImage {
    /*height: 100%;
    width: 100%;*/
    cursor: pointer;
    border-width: none;
}

.appImage:hover span {
    opacity: 1;
    color: rgba(24, 46, 188, 1);
}

.appImage span {
    text-align: center;
    vertical-align: middle;
    top: 50%;
    bottom: 50%;
    /*line-height: 200px;*/
    font-size: 100px;
    opacity: 0.3;
}

.textArea {
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    background-color: lightgray;
}

.btf-modal {
    background-color: rgba(24, 46, 188, 0.8);
    border-radius: 6px;
    position: fixed;
    top: 10%;
    left: 40%;
    /*width: 50%;*/
    z-index: 2;
}

.colModal {
    background-color: rgba(24, 46, 188, 0.8);
}

.hide {
    visibility: hidden;
}

.disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.glyphicon-remove {
    cursor: pointer;
}

.nav li, a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 50px;
}

body {
    background-color: darkgray;

}
