<div class="btf-modal">
    <div class="modalHeader">
        <p> Add more info! </p>
        <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="hideModal()"></span>
    </div>
    <hr>
    <form novalidate class="simple-form modalForm">
        <div class="col-md-6">
            <input placeholder="enter media size (if applicable)" type="text" ng-model="diskSpace" />
            <select ng-model="selectedStatus">
                <option ng-repeat="status in mediaStatus" value="{{status}}">
                    {{status}}
                </option>
            </select>
            <select ng-model="selectedType">
                <option ng-repeat="type in mediaType" value="{{type}}">{{type}}</option>
            </select>
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" ng-click="addMedia()"></span>
        </div>
    </form>
</div>
