<br>
<div class="col-md-12">
    <form novalidate class="simple-form">
        <div class="col-md-6">
            <input class="searchBox" placeholder="enter movie name" type="text" ng-model="movieName" />
        </div>
        <div class="col-md-3">
            <input type="submit" ng-click="searchMovie()" value="Search" />
        </div>
        <button ng-click="openModal()">Add</Button>
    </form>
</div>
<br>
    <div class="col-md-12 mediaBox">
        <img src={{parsedMedia.Poster.String}} />
        <ul class="parsedMedia">
            <li>{{parsedMedia.Title.String}}</li>
            <li>{{parsedMedia.Year.Int64}}</li>
            <li>
                <div class="starWrapper" ng-class="{hide: validMedia === false}">
                    <span
                        class="glyphicon glyphicon-star" aria-hidden="true"
                        ng-class="{starRating :
                            parsedMedia.imdbRatingParse.Int64 >= 1}">
                    </span>
                    <span
                        class="glyphicon glyphicon-star" aria-hidden="true"
                        ng-class="{starRating :
                            parsedMedia.imdbRatingParse.Int64 >= 2}">
                    </span>
                    <span
                        class="glyphicon glyphicon-star" aria-hidden="true"
                        ng-class="{starRating :
                            parsedMedia.imdbRatingParse.Int64 >= 3}">
                    </span>
                    <span
                        class="glyphicon glyphicon-star" aria-hidden="true"
                        ng-class="{starRating :
                            parsedMedia.imdbRatingParse.Int64 >= 4}">
                    </span>
                    <span
                        class="glyphicon glyphicon-star" aria-hidden="true"
                        ng-class="{starRating :
                            parsedMedia.imdbRatingParse.Int64 >= 5}">
                    </span>
                </div>
            </li>
            <li>
                <p class="textArea" ng-class="{hide: validMedia === false}">{{parsedMedia.Plot.String}}</p>
            </li>
        </ul>
    </div>
