<div class="btf-modal colModal">
    <div class="modalHeader">
        <p> Collections </p>
        <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="hideModal()"></span>
    </div>
    <hr>
    <ul class="colList">
        <div ng-repeat="col in colList" ng-click="selectCollection(col)">
            <p class="colTitle">{{col.Name}}</p>
            <p class="colDesc">{{col.Description}}</p>
        </div>
    </ul>
</div>
