<div class="row">
    <h2>
        {{startString}}
    </h2>
    <hr>
</div>

<div class="row">
    <div class="col-md-3">
        <button class="appButton" ng-click="addOrOpenCollection(0)" ng-class="{tabActive : openCollection === 0}" >
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <br>
            <span> New Collection </span>
        </button>
        <button class="appButton" ng-click="openModal()" ng-class="{tabActive : openCollection === 1}" >
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            <br>
            <span> Open Collection </span>
        </button>
    </div>
        <div class="col-md-3">
            <input class="searchBox" type="text" placeholder="name" ng-model="dbName" />
            <br>
            <input class="searchBox" type="text" placeholder="description" ng-class="{disabled : openCollection === 1}" ng-model="dbDescription" />
        </div>
        <div class="col-md-3">
            <button class="appButton" type="submit" ng-click="connectToDB()" value="Search">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <br>
                <span> Connect </span>
            </button>
        </div>
</div>
