<div class="row">
    <h1>
        Raw Queries
    </h1>
    <hr>
    <form novalidate class="simple-form">
        <div class="col-md-9">
            <input
                class="searchBox" placeholder="enter query (only SELECT allowed)"
                type="text" ng-model="queryString"
            />
        </div>
        <div class="col-md-3">
            <input class="appButton" type="submit" ng-click="execQuery()" value="Search" />
        </div>
    </form>
    <br>
    <pre><code>{{queryResponse}}</code></pre>
</div>
