<div class="col-md-9">
    <h2> {{collection.Name}}'s collection </h2>
    <hr>
    <h3>Owned Media</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Year</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="viewMedia" ng-repeat="media in colMedia" ng-click="displayMedia(media)">
                <th>{{media.Title}}</th>
                <th>{{media.Genre}}</th>
                <th>{{media.Year}}</th>
                <th>{{media.MediaStatus}}</th>
            </tr>
        </tbody>
    </table>
    <h3>Top Director - {{topDirector.name}}</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="director in sortedDirectors" ng-click="">
                <th>{{director.name}}</th>
                <th>{{director.count}}</th>
            </tr>
        </tbody>
    </table>
    <h3>Top Country - {{topCountry.name}}</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Country</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="country in sortedCountries" ng-click="">
                <th>{{country.name}}</th>
                <th>{{country.count}}</th>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-3">
    <ul class="activeMedia">
        <br>
        <li><img src={{activeMedia.Poster}}/></li>
        <li>{{activeMedia.Title}}</li>
        <li>
            <div class="starWrapper" ng-class="{hide: mediaStatus === ''}">
                <span
                    class="glyphicon glyphicon-star" aria-hidden="true"
                    ng-class="{starRating :
                        activeMedia.imdbRatingParse >= 1}">
                </span>
                <span
                    class="glyphicon glyphicon-star" aria-hidden="true"
                    ng-class="{starRating :
                        activeMedia.imdbRatingParse >= 2}">
                </span>
                <span
                    class="glyphicon glyphicon-star" aria-hidden="true"
                    ng-class="{starRating :
                        activeMedia.imdbRatingParse >= 3}">
                </span>
                <span
                    class="glyphicon glyphicon-star" aria-hidden="true"
                    ng-class="{starRating :
                        activeMedia.imdbRatingParse >= 4}">
                </span>
                <span
                    class="glyphicon glyphicon-star" aria-hidden="true"
                    ng-class="{starRating :
                        activeMedia.imdbRatingParse >= 5}">
                </span>
            </div>
        </li>
    </ul>
    <ul class="activeMediaExtra" ng-class="{hide: mediaStatus === ''}">
        <li>
            <button ng-click="changeStatus('watched')" ng-class="{statusActive : mediaStatus === 'watched'}">
                Watched
            </button>
            <button ng-click="changeStatus('planned')" ng-class="{statusActive : mediaStatus === 'planned'}">
                Planned
            </button>
        </li>
    </ul>
    <ul class="activeMediaExtra" ng-repeat="(key, prop) in activeMedia">
        <li>{{key}} : {{prop}}</li>
    </ul>
</div>
